<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TwitOff!  - {{title}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<body>
  <h1 class="main-header">TwitOff!</h1>
  <div class="main-container">

   {% block content %}

    <section class="comparison">
      <form class="compare" action="/compare" method="post" accept-charset="utf-8">
        <select class="display-inline" name="user1">
          {% for user in users %}
          <option value="{{ user.name }}">{{ user.name }}</option>
          {% endfor %}
        </select>
        <select class="display-inline" name="user2">
          {% for user in users %}
          <option value="{{ user.name }}">{{ user.name }}</option>
          {% endfor %}
        </select>
          <div class="compare-text">
            <input class="display-block input-text" type="text" name="tweet_text" placeholder="Tweet text to predict">
            <input class="display-block submit" type="submit" value="Compare Users">
          </div>
      </form>
    </section>

    <section class="users">
      <form action="/user" method="post" accept-charset="utf-8">
        <input type="text" name="user_name" placeholder="User to add">
        <input class="submit" type="submit" value="Add User">
      </form>
    </section>

  {% endblock %}
   </div>
  </body>
</html>
